<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:blue">FAMILIARES</h1>
    
        <h3>Nombre: <span style="color:grey"> {{ nombre_persona1 }} </span></h3>
        <h3>Edad: <span style="color:grey"> {{ edad_persona1 }} </span></h3>
        <h3>Fecha de Nacimiento: <span style="color:grey"> {{ fecha_persona1 }} </span></h3>

        <h3>Nombre: <span style="color:grey"> {{ nombre_persona2 }} </span></h3>
        <h3>Edad: <span style="color:grey"> {{ edad_persona2 }} </span></h3>
        <h3>Fecha de Nacimiento: <span style="color:grey"> {{ fecha_persona2 }} </span></h3>

        <h3>Nombre: <span style="color:grey"> {{ nombre_persona3 }} </span></h3>
        <h3>Edad: <span style="color:grey"> {{ edad_persona3 }} </span></h3>
        <h3>Fecha de Nacimiento: <span style="color:grey"> {{ fecha_persona3 }} </span></h3>
    
</body>
</html>